/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
    padding-top: 5rem;
}

.container {
    // border: 2px #bb9445 dashed;
    border: 2px #f34842 dashed;
    padding: 20px;
}