<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #f34842;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DUI Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/dui1">Component A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/dui1/b">Component B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/dui2">Component C</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<router-outlet></router-outlet>